tqdm
torch
torchaudio
torchvision
opencv-python
ffmpegcv
numpy
python_speech_features
scipy
scenedetect==0.5.6.1
scikit-learn
gdown
pandas
transformers
accelerate
datasets
google-genai
pysubs2
boto3
fastapi[standard]
whisperx>=3.8.0